@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lexend";
  src: url("../assets/fonts/Lexend/Lexend-VariableFont_wght.ttf");
}

html {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  padding-left: 7vw;
  padding-right: 7vw;
  background: rgb(0, 0, 0);
}

.wrapper  {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  padding-left: 7vw;
  padding-right: 7vw;
  background: rgb(0, 0, 0);
}

.header {
  display: flex;
  height: 3.5vw;
  border-radius: 5vw;
  border: 0.1vw solid white;
  margin-top: 1vw;
}

.main {
  flex: 1 1 auto;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: 30vw;
}

h1 {
  font-size: 1.4vw;
  font-family: 'Lexend';
}

.header-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #0ef613;
  gap: 1vw;
}

.logo-ico-svg {
  fill: white;
}

/*.header-input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}*/

.header-input-container {
  margin: 0 auto;
}

.header-input-in {
  width: 21vw;
  height: 2.5vw;
}

.header-search, .header-close {
  position: absolute;
  display: inline-block;
  margin-left: -3.5vw;
  margin-top: 0.45vw;
}

.footer {
  display: flex;
  height: 3.5vw;
  border-radius: 5vw;
  border: 0.1vw solid white;
  margin-bottom: 1vw;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: 30vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

.footer-date {
  font-family: "Lexend";
  font-size: 1vw;
  color: white;
  cursor: default;
}

.footer-rss-logo {
  width: 5vw;
  height: 2vw;
  cursor: pointer;
  transition: .4s;
  & svg {
    fill: white;
  }
}

.my-git-hub {
  cursor: pointer;
  transition: .4s;
  & a {
  text-decoration: none;
  font-family: "Lexend";
  font-size: 1vw;
  color: white;
  }
}

.footer-href {
  transition: .4s;
}

.my-git-hub:hover .footer-href {
  color: #0ef613;
}

.footer-rss-logo {
  cursor: pointer;
  & svg {
    transition: .4s;
  }
}

.footer-rss-logo:hover svg {
  fill: #0ef613;
}