@media (prefers-reduced-motion: no-preference) {
  :root {
      scroll-behavior: smooth;
  }
}
* {
padding: 0px;
margin: 0px;
border: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Forum';
  src: url("./assets/fonts/Forum/Forum-Regular.ttf");
}

@font-face {
  font-family: 'Inter';
  src: url("./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

html {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  top: 0; left: 0; bottom: 0; right: 0;
}

body {
  width: 100%;
}

.header {
  width: 100%;
  background: #0C0C0E;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header-container {
  max-width: 1440px;
  display: flex;
  height: 90px;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
}

.header-nav-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

main {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  width: 315px;
  display: inline-block;
  margin-left: 20px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: 'Forum';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
  color: #FFFFFF;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  margin-left: auto;
}

.nav-link a {
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.4s;
}

.nav-link a:hover {
  color: #BB945F;
  text-decoration: none;
}

.icon-profile-link {
  background-color: transparent;
  cursor: pointer;
}

.icon-profile svg {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  margin-right: 20px;
}

.icon-profile-link path {
  transition: 0.4s;
}


.icon-profile-link:hover path {
  fill: #BB945F;
}

.welcome {
  width: 100%;
  background: url("./assets/img/welcome-bg.png") no-repeat;
  background-size: cover;
}

.welcome-container {
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;
}

.welcome-text-block {
  display: inline-flex;
  flex-direction: column;
  width: 600px;
  height: 220px;
  padding: 35px 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #0C0C0E;
  margin-top: 220px;
}

.welcome-text {
  display: inline-block;
  color: #FFF;
  text-align: center;
  font-family: 'Forum';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.about {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
}

.about p {
  text-align: center;
  margin-top: 40px;
  color: #000;
  text-align: center;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.about-container {
  max-width: 1440px;
  text-align: center;
  margin: 0 auto;
}

.about-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.section-header-text {
  color: #0C0C0E;
  font-family: 'Forum';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.contacts h2, .library-card h2{
  margin-left: -18px;
}

.header-bottom-line {
  width: 50px;
  height: 1px;
  flex-shrink: 0;
  background-color: #0C0C0E;
  margin-left: -18px;
}

.about-slider-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
  margin-top: 20px;
}

.about-slider-img {
  width: 450px;
  height: 560px;
  flex-shrink: 0;
}

.about-slider-dots-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.about-dots-btn {
  position: relative;
  height: 26px;
  width: 26px;
  vertical-align: middle;
  cursor: pointer;
}

.about-dots-btn-svg {
  position: absolute;
  margin: 0;
  top: 50%;
  transform: translate(-50%, -50%)
}

.favorites {
  width: 100%;
}

.favorites-container {
  max-width: 1440px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.favorites-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
  padding-bottom: 40px;
}

.favorites-legend-radio {
  color: #000;
  text-align: left;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.favorites-radio-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  margin-top: 40px;
}

.favorites-radio-inputs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 5px solid transparent;
}

.favorites-radio-inputs label {
  width: 70px;
  color: #000;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  margin-left: 20px;
  transition: 0.4s;
}

.favorites-radio-inputs input {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 20px;
}

.radio-style {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url("./assets/icon/Ellipse2.svg");
  display: inline-block;
  border-radius: 50%;
}

.favorites-radio-inputs input:checked ~ .radio-style {
  background-image: url("./assets/icon/Group.svg");
  border-radius: 50%;
}

#winter:checked ~ #label-winter, #spring:checked ~ #label-spring, #summer:checked ~ #label-summer, #autumn:checked ~ #label-autumn  {
  font-weight: 700;
}

.staff-picks-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px 0px;
  padding-top: 40px;
  padding-right: 40px;
}

#body-stephen-king, #carry-toni-jenson, #days-alexandra-chang, #dominicana-angie-cruz, #crude-pablo-fajardo-sophie-tardy-joubert, 
#people-yvon-chouinard, #octopus-brenda-shaughnessy, #shark-kiana-davenport, #casual-renia-white, #fire-lou-ureneck, #rickey-howard-bryant, #slug-megan-milks {
  display: none;
}

.staff-picks-container-img {
  min-width: 590px;
  min-height: 552px;
  position: relative;
  
}

.staff-picks-img {
  display: block;
  position: absolute;
  bottom:-2px;
  right:0;
}

.staff-picks-container-content {
  height: 550px;
  display: inline-block;
  padding-left: 20px;
  padding-top: 15px;
}

.staff-picks-header {
  color: #000;
  font-family: 'Forum';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.staff-picks-header-bottom-line {
  width: 60px;
  height: 1px;
  background-color: #BB945F;
}

.staff-picks {
  width: 550px;
  min-height: 550px;
  border: 1px solid #000;
  background: #FFF;
}

.staff-picks-name {
  color: #000;
  font-family: 'Inter';
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 20px;
}

.staff-picks-autor {
  color: #000;
  font-family: 'Inter';
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.staff-picks-content {
  width: 357px;
  color: #000;
  font-family: 'Inter';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 20px;
}

.staff-picks-button {
  position: absolute;
  bottom: 14px;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background-color: transparent;
  color: #0C0C0E;
  text-align: center;
  font-family: 'Inter';
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.4s;
}

.staff-picks-button:hover {
  border-radius: 2px;
  border: 1px solid #BB945F;
  background-color: #BB945F;
}

.staff-picks-button-own {
  position: absolute;
  bottom: 15px;
  max-width: 75px;
  height: 30px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #BB945F;
  color: #BB945F;
  text-align: center;
  font-family: 'Inter';
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  margin-bottom: 0;
  background-color: transparent;
}

.coffee-shop {
  width: 100%;
}

.coffee-shop-container {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 41px;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.coffee-shop-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.coffee-shop-text-intro {
  color: #000;
  text-align: center;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}

.coffee-shop-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.coffee-and-tea-menu {
  max-width: 438px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.coffee-shop-menu-header {
  color: #BB945F;
  font-family: 'Forum';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.coffee-shop-menu__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.coffee-shop-menu-name {
  width: 212px;
  color: #000;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.coffee-shop-menu-item-line {
  width: 100px;
  height: 1px;
  background-color: #BB945F;
}

.coffee-shop-menu-item-price {
  color: #000;
  font-family: 'Forum';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.desserts-and-cakes-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  gap: 40px;
}

.contacts {
  width: 100%;
}

.contacts-container {
  max-width: 1420px;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.contacts-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-bottom: 40px;
}

.contacts-info {
  width: 696;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.phone-bold-header {
  color: #000;
  text-align: left;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.location-info {
  width: 696px;
  height: 414px;
  overflow: hidden;
  margin-right: 20px;
}

.location-map {
  width: 696px;
  height: 414px;
}

.text-info {
  text-align: left;
}

.contacts-phones-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  margin-top: 38px;
  padding-bottom: 42px;
}

.contacts-phones__item, .library-director-text {
  color: #000;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.library-director-text {
  margin-top: 20px;
}

.phone-link {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
}

.phone-link:hover {
  color: #BB945F;
}

.contacts-e-mail-link {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
}

.contacts-e-mail-link:hover {
  color: #BB945F;
}

.library-card {
  width: 100%;
}

.library-card-container {
  max-width: 1440px;
  padding-bottom: 41px;
  margin: 0 auto;
}

.library-card-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Forum';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.library-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.library-card-get-a-card {
  text-align: right;
}

.library-card-find-card-header {
  color: #000;
  font-family: 'Inter';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: center;
  padding-bottom: 30px;
}

.library-card-find-card {
  width: 600px;
  height: 386px;
  border: 3px solid #BB945F;
  background-color: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.library-card-input-form-gold-bg {
  width: 560px;
  height: 272px;
  background-color: #BB945F;
  margin: 18px auto;
  padding: 20px 20px 25px 20px;
}

.library-card-input-form-title {
  color: #000;
  font-family: 'Forum';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  padding-bottom: 20px;
}

.library-card-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

.library-card-input-container input {
  width: 520px;
  height: 66px;
  border-radius: 10px;
  background-color: #FFF;
  padding-top: 8px;
  padding-left: 20px;
  padding-bottom: 8px;
  color: #8E8E8E;
  font-family: 'Forum';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.library-card-check-card-button {
  display: block;
  padding: 10px 40px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  color: #0C0C0E;
  text-align: center;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.4s;
}

.library-card-check-card-button:hover {
  border: 1px solid #BB945F;
  background-color: #BB945F;
}

.library-card-get-card-header {
  color: #000;
  font-family: 'Forum';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  padding-bottom: 35px;
}

.library-card-get-card-text {
  width: 456px;
  color: #000;
  text-align: right;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.4px;
  padding-bottom: 35px;
}

.library-card-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}

.library-card-button-sign-up, .library-card-button-log-in {
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  cursor: pointer;
  transition: 0.4s;
}

.library-card-button-sign-up:hover, .library-card-button-log-in:hover {
  border: 1px solid #BB945F;
  background-color: #BB945F;
}

.readers-name:valid {
  border-color: rgb(0, 228, 76);
}

.readers-name:invalid {
  border-color: red;
}

.card-number:valid {
  border-color: rgb(0, 228, 76);
}

.card-number:invalid {
  border-color: red;
}

.footer {
  width: 100%;
  background-color: #0C0C0E;
}

.footer-container {
  max-width: 1440px;
  margin: 0 auto;
}

.footer-media {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #FFF;
  text-align: right;
  font-family: 'Inter';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 20px 30px 20px;
}

.footer-contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  gap: 10px;
}

.footer-contact-social-link {
  max-width: 102px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-contact-social-link li {
  list-style: none;
}

.footer-contact-social-link svg{
  cursor: pointer;
}

.svg-path {
  transition: 0.4s;
}

.footer-svg:hover .svg-path{
  fill: #BB945F;
}

.footer-work-hours {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  gap: 10px;
}

.footer-line {
  width: 1400px;
  height: 1px;
  background-color: #FFF;
  margin: 0 auto;
}

.footer-rss {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  padding: 34px 20px 35px 20px;
}

.footer-rss-text-link {
  margin-left: 153px;
}

.footer-rss-git-hub-link, .footer-rss-link, .footer-contact-adress-link {
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
  transition: 0.4s;
}

.footer-rss-git-hub-link:hover, .footer-rss-link:hover, .footer-contact-adress-link:hover {
  color: #BB945F;
}