@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}
html {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
}

.main {
  width: 100%;
  height: 100%;
}

.wrapper {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(0.4vw);
          filter: blur(0.4vw);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 3;
}

.player-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 10;
}

.player {
  width: 32vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  margin: 0 auto;
  opacity: 0.7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 20;
}

.player:hover {
  opacity: 1;
}

.player svg {
  fill: #04AA6D;
  background-color: transparent;
}

.song-img {
  width: 35vw;
  height: 30vw;
  background-color: #04AA6D;
  overflow: hidden;
  border: 0.001vw solid transparent;
  border-radius: 1vw 1vw 0vw 0vw;
  /*box-shadow: 14px 14px 2px 0px rgba(0, 0, 0, 0.2);*/
  -webkit-filter: drop-shadow(0vw 1vw 1vw #04AA6D);
          filter: drop-shadow(0vw 1vw 1vw #04AA6D);
  padding: 1vw;
}

.play-list-svg {
  width: 3vw;
  height: 3vw;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 50;
}

.play-list-svg:hover {
  fill: #ffffff;
  -webkit-filter: drop-shadow(0vw 0.3vw 0.3vw #04AA6D);
          filter: drop-shadow(0vw 0.3vw 0.3vw #04AA6D);
}

/*.dropdown-play-list {
  position: relative;
  display: inline-block;
  z-index: 9;
}*/
.dropdown-play-list-wrapper-outside {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6862745098);
  opacity: 0.5;
  z-index: 50;
}

.dropdown-play-list-wrapper-outside-active {
  display: block;
}

.dropdown-play-list-wrapper {
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 60;
  opacity: 0;
}

.dropdown-play-list-content-close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.play-list-close-btn {
  visibility: visible;
  fill: #ffffff;
  -webkit-filter: drop-shadow(0vw 0.3vw 0.3vw #04AA6D);
          filter: drop-shadow(0vw 0.3vw 0.3vw #04AA6D);
  cursor: pointer;
  opacity: 1;
  z-index: 95;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.play-list-close-btn:hover {
  fill: #ffffff;
  -webkit-filter: drop-shadow(0vw 0.3vw 0.3vw #04AA6D);
          filter: drop-shadow(0vw 0.3vw 0.3vw #04AA6D);
  cursor: pointer;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.dropdown-play-list-content {
  visibility: hidden;
  position: relative;
  top: 0;
  left: 0;
  background-color: #04AA6D;
  width: 40vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #000;
  text-align: left;
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  list-style-type: none;
  border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  opacity: 10;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 90;
}

.dropdown-play-list-item {
  position: relative;
  padding: 1vw;
  padding-left: 1vw;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.dropdown-play-list-item:hover {
  color: #ffffff;
  background-color: #035738;
}

/*.play-list-close-btn-active, */
.dropdown-play-list-content-active, .dropdown-play-list-wrapper-active {
  visibility: visible;
  opacity: 1;
}

.player-controls-wrapper {
  width: 35vw;
  height: 12vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 0.001vw solid transparent;
  border-radius: 0vw 0vw 1vw 1vw;
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(0, 0, 0)), to(rgb(51, 51, 51)));
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(51, 51, 51));
  /*box-shadow: 14px 14px 2px 0px rgba(0, 0, 0, 0.2);*/
  -webkit-filter: drop-shadow(0vw 1vw 1vw #04AA6D);
          filter: drop-shadow(0vw 1vw 1vw #04AA6D);
}

.song-text-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.player-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1vw;
}

.volume-ctrl-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2vw;
}

.song-text-wrapper {
  color: #04AA6D;
}

.song-text {
  width: 16vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.singer {
  width: 16vw;
  max-height: 0.9vw;
  font-size: 0.7rem;
  font-weight: 600;
  overflow: hidden;
}

.song-title {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
}

#volumeSliderBar {
  color: #04AA6D;
  font-size: smaller;
}

.volume-icon, .previous, .play, .next {
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(0, 0, 0)), to(#035738));
  background-image: linear-gradient(to right, rgb(0, 0, 0), #035738);
  border: 0.1vw solid transparent;
  border-radius: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.6);
          box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.volume-icon:hover, .previous:hover, .play:hover, .next:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(0, 0, 0)), to(#04AA6D));
  background-image: linear-gradient(to right, rgb(0, 0, 0), #04AA6D);
  border: 0.1vw solid transparent;
  border-radius: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 2px 1px 4px 4px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 1px 4px 4px rgba(0, 0, 0, 0.6);
}

.previous svg, .play svg, .next svg {
  width: 4vw;
  height: 4vw;
}

#progressSlider {
  width: 27vw;
  -webkit-appearance: none;
  /*width: 100%;*/
  height: 1vw;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  border: 0.1vw solid transparent;
  border-radius: 1vw;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
}

#progressSlider:hover {
  opacity: 1;
}

#progressSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2vw;
  height: 2vw;
  border: 0.1vw solid transparent;
  border-radius: 1vw;
  background: #04AA6D;
  cursor: pointer;
}

#progressSlider::-moz-range-thumb {
  width: 2vw;
  height: 2vw;
  background: #04AA6D;
  cursor: pointer;
}

.volume-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.4vw;
}

.volume-icon svg {
  width: 2vw;
  height: 2vw;
}

#volumeSlider {
  width: 10vw;
  -webkit-appearance: none;
  /*width: 100%;*/
  height: 1vw;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  border: 0.1vw solid transparent;
  border-radius: 1vw;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
}

#volumeSlider:hover {
  opacity: 1;
}

#volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2vw;
  height: 2vw;
  border: 0.1vw solid transparent;
  border-radius: 1vw;
  background: #04AA6D;
  cursor: pointer;
}

#volumeSlider::-moz-range-thumb {
  width: 2vw;
  height: 2vw;
  background: #04AA6D;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3vw;
}

.footer-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  padding-top: 1vw;
  padding-bottom: 1vw;
  opacity: 0.4;
  z-index: 95;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer-wrapper:hover {
  opacity: 1;
}

.year {
  font-family: "Inter";
  font-weight: 600;
  cursor: default;
}

.my-git-hub a {
  text-decoration: none;
  color: #000;
  font-family: "Inter";
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.my-git-hub:hover a {
  color: #04AA6D;
}

.logo-rss {
  width: 5vw;
  height: 2vw;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.logo-rss path {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.logo-rss:hover path {
  fill: #04AA6D;
}